.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/application.yml
!**/src/main/resources/application-*.yml

.env
.DS_Store
*.swp
*.log

out/
bin/
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
